<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">

<head>
    <meta charset="UTF-8"/>

    <!-- 각 페이지 타이틀 꼭 변경하기 -->
    <title>Manager</title>


    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [시작] -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/forgot-password/forgot-password.css"
          th:href="@{/assets/css/forgot-password/forgot-password.css}">
    <script defer src=""></script>
    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [종료] -->

</head>
<body>

<section>
    <div class=id-pw-container>
        <form action="#" method="post">

            <div class="id-pw-email">
                이메일 주소로 계정 찾기
            </div>

            <div class="id-pw-text-form-wrap">
                <div class="id-pw-input-box-title">
                    <label for="email-box" class="id-pw-label-layout">이메일</label>
                </div>
                <input type="text" placeholder="이메일을 입력해주세요" id="email-box"
                       name="email" class="id-pw-input">
            </div>

            <div class="id-pw-text-form-wrap">
                <div class="id-pw-input-box-title">
                    <label for="email-number-box" class="id-pw-label-layout">인증번호</label>
                </div>
                <input type="text" placeholder="이메일로 발송 된 인증번호를 입력해주세요" id="email-number-box"
                       name="email-number" class="id-pw-input">
            </div>

            <hr>
            <button type="submit" id="id-pw-button">ID/PW 찾기</button>

        </form>
    </div>
</section>

</body>
</html>
