.quiz_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
}

.quiz_content {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.quiz_main {
    width: 1000px;
    height: 500px;
    background-color: #27ae60;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
}

.quiz_main_logo {
    font-family: "TheJamsil5Bold", serif;
    font-size: 100px;
    color: white;
}

.quiz_text_wrap {
    display: flex;
    flex-direction: column;
}

.quiz_text {
    font-family: "TheJamsil5Bold", serif;
    font-size: 40px;
    color: white;
}

.quiz_btn_wrap {
    width: 1000px;
    height: 200px;
}

.quiz_btn {
    width: 100%;
    height: 100%;
    font-family: 'Changa One', cursive;
    font-weight: 800;
    font-size: 70px;
    color: #27ae60;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--boundary-color);
}