<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/manager-home.css">
    <script defer src="/static/assets/js/manager-home.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <title>managerHome</title>
</head>
<body>
<section>
| 오늘의 할일 |
방문자 현황 |  일자별 게시판 요약 | 로그인 관리자 정보

1:1 문의 | 게시물 신고 |  지금 실시간 인기 게시글
    <h1> 하이</h1>
</section>
</body>
</html>