/* 버튼 초기화*/
button {
    background: inherit ;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer
}
/* 마이페이지 상단 부분*/
.mypage-menu-top {
    width: 1280px;
    display: block;
    margin: 0 auto;

}
/* 마이페이지 상단 감싸는 영역*/
.mypage-menu-wrap {
display: flex;
gap: 10px;
justify-content : end;
    list-style: none;
    padding-bottom: 20px;

}
/* 마이페이지 메뉴 부분 */
.mypage-manu-name {
        float: left;
        padding-top: 3px;
        padding-right: 20px;
        padding-bottom: 3px;
        padding-left: 20px;
        border: 1px solid;
        border-radius: 30px;
        border-color: #d9d9d9;
        background-color: white;
}

/* 마이페이지 메뉴 이름 영역 - 색 초기화 */
.mypage-manu-name{color: #000;}

/* 마이페이지 메뉴 이름 역역 - 마우스호버 색변환 */
.mypage-manu-name:hover {
    background-color: #27ae60;
    color:#fff;
}

/* 컨텐츠 제일 밖에서 감싸는 영역 */
.mypage-myinfo-container {
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 1280px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

/* 내 정보 수정 문구 부분 */
.text-title {
    font-family: "NanumSquare", sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;

}

/* label input 감싸는 영역 */
.mypage-myinfo-text-form-wrap {
    display: flex;
    /* justify-content: center; */
    margin-bottom: 10px;
}

/* label 감싸는 영역 111 */
.mypage-myinfo-input-box-title {
    border: 1px solid #d9d9d9;
    width: 200px;
    height: 50px;
    border-right: none;
    border-radius: 4px 0 0 4px;

}

/* label 태그 영역 */
.label-layout{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 20px;
    font-size: 18px;
    font-family: "NanumSquare", sans-serif;
}

/* input 영역 */
.mypage-myinfo-input {
    text-align: left;
    border: 1px solid #d9d9d9;
    height: 50px;
    width: 500px;
    border-radius: 0 4px 4px 0;
    font-family: "NanumSquare", sans-serif;
    font-size: 18px;
    padding-left: 10px;
    margin-right: 10px;
}

/* 내 정보 수정 버튼*/
#mypage-myinfo-button {
    width: 700px;
    height: 50px;
    background-color: #27ae60;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    font-family: "NanumSquare", sans-serif;
    border: 1px solid #27ae60;
    margin: 0;
    margin-top: 10px;

}

/* 수정 버튼*/
.modify {
       width: 65px;
       border-radius: 8px;
       border: 1px solid;
       border-color: #d9d9d9;
       font-size: 20px;
       font-family: "NanumSquare", sans-serif;
       padding: 3px;

}

/* hr 태그 */
hr {
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    width: 700px;
    margin: 0px;
}

/* 버튼 클릭시 색변환 */
#mypage-myinfo-button:active {
    background-color: #1e8449;
}
