:root {
    --point-color: #27ae60;
    --background-color-main: #f7f8f8;
    --background-color-sub: #f1f2f3;
    --boundary-color: #d9d9d9;
    --font-color-main: #333333;
    --font-color-sub: #4c4c4c;
    --font-color-sub2: #577391;
}