:root {
    --point-color: #27ae60;
    --background-color-main: #f7f8f8;
    --background-color-sub: #f1f2f3;
    --boundary-color: #d9d9d9;
    --font-color-main: #333333;
    --font-color-sub: #4c4c4c;
    --font-color-sub2: #577391;
    --font-color-sub3: #d1dbe3;
}

@font-face {
    font-family: "TheJamsil5Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: var(--background-color-sub);
    padding: 1.2rem;
}

.container {
    position: absolute;
    width: 1280px;
    top: 100px;
    left: 200px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 2fr 2fr;
    grid-auto-columns: 300px;
    grid-gap: 0.6rem;
    grid-template-areas:
        'b b b b e e'
        'c c d d e e'
        'c c d d i i'
        'f f g g h h'
        'f f g g h h';

    color: var(--font-color-main);
}

.container > div {
    background-color: var(--background-color-main);
    border: 1px solid var(--boundary-color);
    border-radius: 5px;
}

.grid_title {
    font-weight: bold;
    margin: 15px 0 15px 20px;
}

hr {
    background: var(--boundary-color);
    height: 1px;
    border: 0;
}


i {
    margin-left: 10px;
    color: var(--point-color);
}

.b_section {
    min-height: 120px;
    grid-area: b;
}

.b_section > .grid_title > span {
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    border-radius: 10px;
    text-align: center;
    color: var(--background-color-main);
    background-color: var(--point-color);
}

.b_section > .flexbox {
    display: flex;
    gap: 20px;
    margin: 20px 0 20px 20px;
}

.b_section > .flexbox > div > span {
    display: inline-block;
    margin-left: 6px;
    width: 40px;
    border-radius: 10px;
    text-align: center;
    color: var(--background-color-main);
    background-color: var(--point-color);
}

.c_section {
    grid-area: c;
}

.c_section #myChart {
    margin-top: 30px;
}

.d_section {
    grid-area: d;
    display: flex;
    flex-direction: column;
}

.d_section > table {
    table-layout: auto;
    width: 100%;
    height: 100%;
}

.d_section th, td {
    text-align: center;
    padding-right: 8px;
    border-bottom: 1px solid var(--boundary-color);
}

.d_section thead {
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    color: var(--font-color-sub2);
}

.d_section tbody :hover {
    background-color: #ecf3ec;
}

.e_section {
    grid-area: e;
}

.e_section > .content {
    height: 100%;
    background-color: #3b3e43;
    color: var(--background-color-sub);
    text-align: center;
}

.e_section > .content > .title {
    font-size: 20px;
}


.e_section > #white_hr {
    background: var(--background-color-sub);
    height: 1px;
    border: 0;
}

.f_section {
    grid-area: f;
    display: flex;
    flex-direction: column;
}

.f_section > .flexbox {
    /* *** 나머지를 채우는 코드 *** */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.f_section > .flexbox i {
    color: var(--font-color-sub2);
    float: left;
    font-size: 40px;
    margin: 5px 15px 0 15px;
}

.f_section .content {
    padding-top: 10px;
    height: 100%;
}

.f_section a:link {
    color: var(--font-color-main);
    text-decoration: none;
}

.f_section a:visited {
    color: #aaaaaa;
}

.f_section .content:hover {
    background-color: #ecf3ec;
}

.f_section .content div:first-of-type {
    font-weight: 500;
}

.f_section .content div:last-of-type {
    padding-left: 66px;
    color: var(--font-color-sub2);
    font-size: 14px;
}

.g_section {
    grid-area: g;
    display: flex;
    flex-direction: column;
}

.g_section img {
    margin-left: 10px;
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.g_section > table {
    table-layout: auto;
    width: 100%;
    height: 100%;
}

.g_section th, td {
    text-align: center;
    padding-right: 8px;
    border-bottom: 1px solid var(--boundary-color);
}

.g_section thead {
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    color: var(--font-color-sub2);
}

.g_section tbody :hover {
    background-color: #ecf3ec;
}

.g_section a:link {
    font-weight: 550;
    color: var(--font-color-main);
    text-decoration: none;
}

.g_section a:visited {
    color: #aaaaaa;
}

.h_section {
    grid-area: h;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.h_section > .grid_title {
    margin: 15px 0;
}

.h_section > .flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.h_section img {
    width: 132px;
    height: 132px;
    margin-top: 10px;
    border-radius: 5px;
}

.h_section .content_title {
    width: 132px;
    margin: 6px 0;
}

.h_section .flexbox .line-clamp {
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.h_section > .flexbox2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.h_section > .flexbox2 .content {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.h_section .flexbox2 .line-clamp {
    max-width: 250px;
    padding-left: 20px;
    padding-right: 8px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.h_section .flexbox2 :hover {
    background-color: #ecf3ec;
}

.h_section a:link {
    font-weight: 550;
    color: var(--font-color-main);
    text-decoration: none;
}

.h_section a:visited {
    color: #aaaaaa;
}

.i_section {
    grid-area: i;
    text-align: center;
    font-size: 30px;
    color: var(--point-color);
}

.i_section div {
    padding-top: 35px;
}
