<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, links, script, content)">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title th:replace="${title}">관리자 페이지</title>

    <link href="/assets/css/color.css" type="text/css" rel="stylesheet"
          th:href="@{/assets/css/color.css}"/>
    <link href="/assets/css/font.css" type="text/css" rel="stylesheet"
          th:href="@{/assets/css/font.css}"/>
    <link href="/assets/css/reset.css" type="text/css" rel="stylesheet"
          th:href="@{/assets/css/reset.css}"/>
    <link href="/assets/css/manager/layout/manager-layout.css" type="text/css" rel="stylesheet"
          th:href="@{/assets/css/manager/layout/manager-layout.css}"/>


    <th:block th:replace="${links}"></th:block>
    <th:block th:replace="${script}"></th:block>
</head>


<body>
<div class="mg_container">
    <div class="mg_top_bar_wrap">
        <div class="mg_top_bar">
            <span class="mg_top_bar_text">가치 관리자 페이지</span>
            <div class="mg_top_bar_right">
                <button onclick="" class="mg_top_bar_logout">로그아웃</button>
                <span class="mg_top_bar_version">v2.21</span>
            </div>

        </div>
    </div>
    <div class="mg_navbar_warp">
        <div class="mg_navbar_logo"><span>가치</span></div>
        <div class="mg_navbar">
            <div class="mg_menu">
                <a href="#">
                    <div><i class="fa-solid fa-user"></i></div>
                    <span>회원</span>
                </a>
            </div>
            <div class="mg_menu">
                <a href="#">
                    <div><i class="fa-solid fa-pen"></i></div>
                    <span>1:1문의</span>
                </a>
            </div>
            <div class="mg_menu">
                <a href="#">
                    <div><i class="fa-solid fa-message"></i></div>
                    <span>QnA</span>
                </a>
            </div>
            <div class="mg_menu">
                <a href="#">
                    <div><i class="fa-solid fa-gun"></i></div>
                    <span>블랙리스트</span>
                </a>
            </div>
            <div class="mg_menu">
                <a href="#">
                    <div><i class="fa-solid fa-file"></i></div>
                    <span>게시물</span>
                </a>
            </div>
            <div class="mg_menu">
                <a href="#">
                    <div><i class="fa-solid fa-file-excel"></i></div>
                    <span>신고 게시물</span>
                </a>
            </div>
            <div class="mg_menu">
                <a href="#">
                    <div><i class="fa-solid fa-comments"></i></div>
                    <span>퀴즈</span>
                </a>
            </div>
            <div class="mg_menu">
                <a href="#">
                    <div><i class="fa-solid fa-layer-group"></i></div>
                    <span>챌린지</span>
                </a>
            </div>
            <div class="mg_menu">
                <a href="#">
                    <div><i class="fa-solid fa-calendar"></i></div>
                    <span>이벤트</span>
                </a>
            </div>
        </div>

    </div>
    <div class="mg_content">
        <div th:replace="${content}">
        </div>
    </div>

</div>


</body>


</html>