<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>관리자 페이지</title>

    <link th:href="@{/assets/css/reset.css}" href="/static/assets/css/reset.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/assets/css/manager-layout.css}" href="/static/assets/css/manager-layout.css" type="text/css"
          rel="stylesheet"/>
</head>


<body>
<div class="mg_container">
    <div class="mg_top_bar_wrap">
        <div class="mg_top_bar">
            <span class="mg_top_bar_text">가치 관리자 페이지</span>
            <div class="mg_top_bar_right">
                <button onclick="" class="mg_top_bar_logout">로그아웃</button>
                <span class="mg_top_bar_version">v2.21</span>
            </div>

        </div>
    </div>
    <div class="mg_navbar_warp">
        <div class="mg_navbar">
            메뉴 공간
        </div>

    </div>
    <div class="mg_content">
        콘텐츠 공간
    </div>

</div>


</body>


</html>