<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8"/>

    <!-- 각 페이지 타이틀 꼭 변경하기 -->
    <title>EcoValue</title>


    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [시작] -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/membership/membership.css"
    th:href="@{/assets/css/membership/membership.css}">
    <script defer src=""></script>
    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [종료] -->

</head>
<body>

<!-- 이 아래에 실제 코드 작성 -->
<!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
<section>
    <div class="membership-main">
        <div class="membership">
            <form action="#" method="post" class="membership-text-form">
                <div id="text-title">
                    <span th:text="회원가입">회원가입</span>
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="id-box" class="label-layout">아이디</label>
                    </div>
                    <input type="text" placeholder=" 아이디를 입력해주세요." id="id-box" name="userId"
                           class="membership-input-box-layout">
                    <!--DTO 하나 만들어 놓음 @ModelAttribute써서 사용하세요.-->
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="password-box" class="label-layout">비밀번호</label>
                    </div>
                    <input type="text" placeholder=" 비밀번호를 입력해주세요." id="password-box" name="userPassword"
                           class="membership-input-box-layout">
                    <!--DTO 하나 만들어 놓음 @ModelAttribute써서 사용하세요.-->
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="password-check-box" class="label-layout">비밀번호 확인</label>
                    </div>
                    <input type="text" placeholder=" 비밀번호를 한번 더 입력해주세요." id="password-check-box"
                           name="userCheckPassword" class="membership-input-box-layout">
                    <!--DTO 하나 만들어 놓음 @ModelAttribute써서 사용하세요.-->
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="nickname-box" class="label-layout">닉네임</label>
                    </div>
                    <input type="text" placeholder=" 닉네임을 입력해주세요." id="nickname-box" name="nickName"
                           class="membership-input-box-layout">
                    <!--DTO 하나 만들어 놓음 @ModelAttribute써서 사용하세요.-->
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="name-box" class="label-layout">이름</label>
                    </div>
                    <input type="text" placeholder=" 이름을 입력해주세요." id="name-box" name="userName"
                           class="membership-input-box-layout">
                    <!--DTO 하나 만들어 놓음 @ModelAttribute써서 사용하세요.-->
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="email-box" class="label-layout">이메일</label>
                    </div>
                    <input type="text" placeholder=" 이메일을 입력해주세요." id="email-box" name="userEmail"
                           class="membership-input-box-layout">
                    <!--DTO 하나 만들어 놓음 @ModelAttribute써서 사용하세요.-->
                </div>

                <div id="membership-button-layout">
                    <button type="button" onclick="location.href='/static/index.html'"
                            id="membership-cancel">취소
                    </button>
                    <button type="submit" id="create-membership">가입</button>
                </div>
            </form>
        </div>


    </div>

</section>
<!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->
<!-- 이 위에 실제 코드 작성 -->

</body>
</html>
