<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{ecovalue/layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">

<head>
    <meta charset="UTF-8"/>

    <!-- 각 페이지 타이틀 꼭 변경하기 -->
    <title>Membership Login</title>

    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [시작] -->
    <link rel="stylesheet" type="text/css" href="/assets/css/ecovalue/login/login.css"
          th:href="@{/assets/css/ecovalue/login/login.css}">
    <script defer src=""></script>
    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [종료] -->

</head>
<body>
<section>
    <div class="membership-login-container">
        <form action="" th:action th:object="${memberLoginDto}" method="post">

            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">아이디, 비밀번호 오류 메시지</p>
            </div>

            <div class="membership-text-form-layout">
                <div class="membership-input-box-title">

                    <label class="membership-label-layout" for="id-box">아이디</label>
                </div>
                <input type="text" placeholder="아이디를 입력해주세요." id="id-box" th:field="*{loginId}"
                      th:errorclass="field-error" class="membership-input-tag">
                <div class="field-error" th:errors="*{loginId}"/>
            </div>

            <div class="membership-text-form-layout">
                <div class="membership-input-box-title">
                    <label class="membership-label-layout" for="password-box">비밀번호</label>
                </div>
                <input type="password" placeholder="비밀번호를 입력해주세요. " id="password-box" th:field="*{memberPassword}"
                       th:errorclass="field-error" class="membership-input-tag">
                <div class="field-error" th:errors="*{memberPassword}"/>
            </div>

            <hr class="hr">
            <button type="submit" class="membership-login-button" id="login-button">로그인</button>

            <div class="submit-wrap">
                <button type="button" th:onclick="|location.href='@{/membership/add}'|" onclick=""
                        class="create-membership-button">회원가입</button>
                <button type="button" th:onclick="|location.href='@{/forgot-password}'|" onclick=""
                        class="find-id-wd-button">ID/PW찾기</button>
            </div>

        </form>
    </div>
</section>
</body>
</html>
