/* 컨텐츠 제일 밖에서 감싸는 영역 */
.id-pw-container {
    margin-top: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 1280px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

/* 이메일 주소로 계정 찾기 문구 부분 */
.id-pw-email {
    font-family: "NanumSquare", sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    margin-left: 10px;
}

/* label input 감싸는 영역 */
.id-pw-text-form-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* label 감싸는 영역 */
.id-pw-input-box-title {
    border: 1px solid #d9d9d9;
    width: 200px;
    height: 50px;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

/* label 태그 영역 */
.id-pw-label-layout{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 20px;
    font-size: 18px;
    font-family: "NanumSquare", sans-serif;
}

/* input 영역 */
.id-pw-input {
    text-align: left;
    border: 1px solid #d9d9d9;
    height: 50px;
    width: 500px;
    border-radius: 0 4px 4px 0;
    font-family: "NanumSquare", sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

/* */
#id-pw-button {
    width: 700px;
    height: 50px;
    margin: 10px;
    background-color: #27ae60;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    font-family: "NanumSquare", sans-serif;
    border: 1px solid #27ae60;
}

/* hr 태그 */
hr {
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    width: 700px;
}

/* 버튼 클릭시 색변환 */
#id-pw-button:active {
    background-color: #1e8449;
}