<!Doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ecovalue/layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/ecovalue/quiz/quiz-question.css"
          th:href="@{/assets/css/ecovalue/quiz/quiz-question.css}">
    <script defer th:inline="javascript">
        const quizList = /*[[${quizList}]]*/ {};
    </script>
    <script src="/assets/js/ecovalue/quiz/quiz-question.js" defer
            th:src="@{/assets/js/ecovalue/quiz/quiz-question.js}"></script>

    <script src="https://kit.fontawesome.com/fb84122c0e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <title>EcoValue</title>
</head>

<body>
<section>
    <div class="quiz-wrap">
        <div class="quiz-start-view">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <th:block th:each="quiz, i : ${quizList}">
                        <div class="swiper-slide">
                            <div class="quiz-title" th:text="${quiz.title}">퀴즈 제목</div>
                            <div class="quiz-detail" th:text="${quiz.detail}">퀴즈 내용</div>
                            <div th:class="|quiz-user-answer${i.count}|"></div>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="quiz-start-ox-view">
            <div class="arrow-left">
                <i class="fa-solid fa-arrow-right fa-rotate-180"></i>
            </div>
            <div class="quiz-o">
                <i class="fa-solid fa-o" id="O" onclick="plusNumber('O')"></i>
            </div>
            <div class="quiz-x">
                <i class="fa-solid fa-x" id="X" onclick="plusNumber('X')"></i>
            </div>
            <div class="arrow-right">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="submit-button">
                <i class="fa-solid fa-check" onclick="quizSubmit()"></i>
            </div>
        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</section>
</body>
</html>