
.recycle-main {
    padding-bottom: 150px;
    background-color: #d2d1d1;

    width: 1280px;
}
.text-box >h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}
.text-box >h3{
    font-size: 17px;
    font-weight: bold;
    margin: 17px 0 17px 0;
}
.text-box >ul > li{
    max-width: 550px;
    padding-left: 25px;
    line-height: 25px;

}

.sticky {
    background-color: #d2d1d1;
    text-align: center;
    width: 1280px;
    height: 120px;

    position: sticky;
    top: 0;
}

.recycle_part  {

    margin: 20px 10px 20px 10px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: white;
    border: white;
}

.text-box>ul {
    list-style: none;
}

.recycle_part >i {
    color: #27ae60;
}

.recycle-img >img {

    margin-top: 70px;
    background-color: white;
    color: #27ae60;
}

.recycle_part:active {

    background-color: #d9d9d9;
}

.recycle-img {
    margin-top: 50px;
    margin-right: 100px;
    width: 600px;
    height: 400px;
    text-align: center;
    background-color: white;
    border-radius: 0 20px 20px 0;
}

.text-box {
    width: 600px;
}

.part {
    padding-top: 150px;
    display: flex;
    min-height: 100vh;
}

#part3 ul:nth-of-type(3){
    list-style-type: disc;
    margin-left: 25px;
}
.part3 ul>li{
    margin-bottom: 8px;
}

