<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liveeasystreet.ecovalue.repository.comment.CommentMapper">

    <select id="findByBoardId" resultType="Comment">
        SELECT
            c.comment_id AS comment_id,
            c.board_id AS board_id,
            m.nick_name AS nick_name,
            c.head_comment AS headComment,
            c.contents AS contents,
            c.upload_date AS uploadDate,
            c.edit_date AS editDate,
            c.delete_date AS deleteDate
        FROM
            comment c
                JOIN
            member m ON m.member_id = c.MEMBER_ID
        WHERE
            c.BOARD_ID = #{boardId}
        ORDER BY
            CASE
                WHEN c.head_comment = #{headComment} THEN c.comment_id
                ELSE c.head_comment
                END,
            c.comment_id
    </select>

    <select id="findById" resultType="Comment">
        SELECT
            c.comment_id AS comment_id,
            c.board_id AS board_id,
            m.nick_name AS nick_name,
            c.head_comment AS headComment,
            c.contents AS contents,
            c.upload_date AS uploadDate,
            c.edit_date AS editDate,
            c.delete_date AS deleteDate
        FROM
            comment c
                JOIN
            member m ON m.member_id = c.MEMBER_ID
        WHERE
            comment_id = #{CommentId}
    </select>


    <insert id="insertComment" parameterType="Comment" keyProperty="commentId">
        <selectKey resultType="long" keyProperty="commentId" order="AFTER">
            SELECT CURRVAL('comment_seq') AS commentId FROM DUAL
        </selectKey>
        INSERT INTO comment (COMMENT_ID, BOARD_ID, MEMBER_ID, HEAD_COMMENT, CONTENTS, UPLOAD_DATE)
        SELECT NEXTVAL('comment_seq'), #{boardId}, m.MEMBER_ID,
               CASE
                   WHEN #{headComment} IS NULL THEN CURRVAL('comment_seq')
                   ELSE #{headComment}
                   END,
               #{contents}, CURRENT_TIMESTAMP
        FROM member m
        WHERE m.NICK_NAME = #{nickName}
    </insert>

<!--    <insert id="insertComment" parameterType="Comment" keyProperty="commentId">-->
<!--        INSERT INTO comment ( BOARD_ID, MEMBER_ID, HEAD_COMMENT, CONTENTS, UPLOAD_DATE)-->
<!--        SELECT  #{boardId}, m.MEMBER_ID,#{headComment}, #{contents}, CURRENT_TIMESTAMP-->
<!--        FROM member m-->
<!--        WHERE m.NICK_NAME = #{nickName}-->
<!--    </insert>-->

</mapper>
