.score-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-container {
    width: 1280px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px 1fr;
    grid-template-areas:
            'a b'
            'e c'
            'd d';
}


.score-box {
    grid-area: a;
    background-color: white;
    border: 1px solid var(--boundary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.score-context-score {
    font-family: "TheJamsil5Bold", serif;
    font-weight: 800;
    font-size: 60px;
    color: var(--point-color);
}

.score-result {
    grid-area: b;
    background-color: white;
    border: 1px solid var(--boundary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: NanumSquare, serif;
    font-size: 20px;
    font-weight: 500;
}


.score-wrong-quiz {
    grid-area: c;
    background-color: white;
    border: 1px solid var(--boundary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: NanumSquare, serif;
    font-size: 20px;
    font-weight: 500;
}

.score-correct-quiz {
    grid-area: e;
    background-color: white;
    border: 1px solid var(--boundary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: NanumSquare, serif;
    font-size: 20px;
    font-weight: 500;
}

.incorrect-note {
    grid-area: d;
    background-color: white;
    border: 1px solid var(--boundary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mistake-log {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 100px;
}

.mistake-log-name {
    font-weight: 800;
}

.mistake-log-text {
    font-family: '돋움', serif;
    font-size: 13px;
}
