<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{ecovalue/layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8"/>

    <!-- 각 페이지 타이틀 꼭 변경하기 -->
    <title>upGallery</title>


    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [시작] -->
    <link rel="stylesheet" th:href="@{/assets/css/ecovalue/upcycle/upcycle_gallery_board_write.css}">
    <link rel="stylesheet" th:href="@{https://cdn.quilljs.com/1.3.6/quill.snow.css}">

    <script defer th:src="@{https://cdn.quilljs.com/1.3.6/quill.js}"></script>
    <script defer th:src="@{/assets/js/ecovalue/upcycle/upcycle_gallery_board_write.js}"></script>
    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [종료] -->

</head>
<body>


<section>
    <div class="upcycle_gallery_board_write_container">
        <div class="boardCategory" th:text="${category}"></div>
        <hr class="hr green">
        <div class="boardTitleArea">
            <div class="boardTitle">
                <select name="upCycleTag" class="upCycleTag">
                    <option th:each="tag, stats : ${tags}" th:value="${tag.getDataValue()}" th:text="${tag.getDescription()}" th:selected="${stats.first}"></option>
                </select>
                <input type="text" th:class="titleSpace" name="title" placeholder="제목을 입력하세요">
            </div>
        </div>
        <hr class="hr green">
        <div id="editor-container">
        </div>
        <input type="hidden" id="quill_html" name="content">

        <div class="boardWriteAction">
            <button type="button" onclick="" id="boardWriteCancel"
                    class="boardWriteCancel">취소</button>
            <button type="button" onclick="write_submit()" id="boardWriteComplete"
                    class="boardWriteComplete">등록</button>

        </div>
        <hr class="hr green">
    </div>
</section>


</body>
</html>
