<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{ecovalue/layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8"/>

    <!-- 각 페이지 타이틀 꼭 변경하기 -->
    <title>upGallery</title>


    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [시작] -->
    <link rel="stylesheet" th:href="@{/assets/css/ecovalue/upcycle/upcycle_gallery.css}">
    <script defer src=""></script>
    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [종료] -->

</head>
<body>


<section>
    <div class="upcycle_gallery_container">
        <div class="search-box">
            <select name="search_target" class="upGallery_search_target">
                <option value="title_content">제목+내용</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="comment">댓글</option>
                <option value="nick_name">닉네임</option>
            </select>
            <div class="upGallery_search_input_area">
                <input type="text" name="search_keyword" class="search_input_area" placeholder="검색어를 입력하세요">
            </div>
        </div>
        <div class="gallery_sector">
            <div class="k">테스트1</div><div class="k">테스트2</div><div class="k">테스트3</div><div class="k">테스트4</div>
            <div class="k">테스트5</div><div class="k">테스트6</div><div class="k">테스트7</div><div class="k">테스트8</div>
            <div class="k">테스트9</div><div class="k">테스트10</div><div class="k">테스트11</div><div class="k">테스트12</div>
        </div>
        <div class="gallery-paging-section">
            <a th:if="${startPage gt 10}" class="paging-previous paging-button" th:href="@{/upGallery(page=${startPage -1})}" href="#">이전</a>
            <th:block th:each="num : ${#numbers.sequence(startPage,startPage+9)}">
                <a th:class="paging-button" th:classappend="${num eq page}?'selected'" th:if="${num le lastPage}"
                   th:href="@{/upGallery(page=${num})}"
                   th:text="${num}"
                >1</a>
            </th:block>
            <a th:if="${lastPage gt startPage+9}" class="paging-next paging-button" th:href="@{/upGallery(page=${startPage +10})}" href="#">다음</a>
        </div>
    </div>
</section>

</body>
</html>
