* {
    padding: 0px;
    margin: 0px;
}

.quiz_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    width: 100vw;
    height: 100vh;
}

.quiz_main_layout {
    display: grid;
    width: 800px;
    height: 650px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #d9d9d9;
    gap: 10px;
    grid-template-areas:
            'a a'
            'b b';
}

.quiz_main_item1 {
    background-color: #f1f2f3;
    grid-area: a;
    display: flex;
}

.quiz_main_item2 {
    background-color: #f1f2f3;
    grid-area: b;
}







