#퀴즈 {
    text-align: center;
}

#퀴즈시작 {
    margin: 30px;
}

#QuizStartButton {
    height: 50px;
    width: 150px;
    box-shadow: 10px 10px 10px gray;
    cursor: pointer;
    border-radius: 20px;
    background-color: #27ae60;
    font-size: 20px;
}

#QuizStartButton:hover {
    background-color: #27ae60;
    box-shadow: 0px 0px 10px #27ae60;
}

#QuizStartButton:active {
    background-color: #27ae60;
    box-shadow: inset 0px 0px 10px #27ae60;
}
