@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.quiz_wrap {
    display: grid;
    grid-template-rows: 500px 200px;
    grid-template-columns: 1000px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.quiz_start_view {
    height: 100%;
    width: 100%;
    border: 2px solid white;
    background-color: #f1f2f3;
    border-radius: 20px;
    text-align: center;
    justify-content: center;

}

.quiz_start_ox_view {
    height: 100%;
    width: 100%;
    display: grid;
    border: 2px solid white;
    background-color: #f1f2f3;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
}

.o {
    text-align: center;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.x {
    text-align: center;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o > i {
    color: #27ae60;
    text-shadow: 5px 5px 5px gray;
    cursor: pointer;
    font-size: 100px;
}

.x > i {
    color: #27ae60;
    text-shadow: 5px 5px 5px gray;
    cursor: pointer;
    font-size: 100px;
}


.quiz_page_number {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.quiz_page_number > h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: right;
}
