<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>echoValue</title>
    <link rel="stylesheet" href="/static/css/QuizMain.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
</head>
<body>
<div class="quiz_main_container">
    <div class="quiz_main_layout">
        <div class="quiz_main_item1">
            <img src="/static/image/재활용퀴즈.jpg" class="quiz_main_picture">
        </div>
        <div class="quiz_main_item2"></div>
        <div class="quiz_main_item3"></div>
        <div class="quiz_main_item4"></div>
        <div class="quiz_main_count_number"></div>
    </div>
</div>

<script>
    const progressCircle = document.querySelector(".autoplay-progress svg");
    const progressContent = document.querySelector(".autoplay-progress span");

    const swiperEl = document.querySelector("swiper-container");
    swiperEl.addEventListener("autoplaytimeleft", (e) => {
        const [swiper, time, progress] = e.detail;
        progressCircle.style.setProperty("--progress", 1 - progress);
        progressContent.textContent = `${Math.ceil(time / 1000)}s`;
    });
</script>
</body>
</html>