<!Doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/quizMain.css">
    <script src="/js/quizMain.js" defer></script>
    <script src="https://kit.fontawesome.com/fb84122c0e.js" crossorigin="anonymous"></script>
    <title>EchoValue</title>
</head>

<body>
<div id="container">
    <div class="quiz_start_view">퀴즈 내용</div>
    <div class="quiz_start_ox_view">
        <div class="o">
            <i class="fa-solid fa-o" id="O" onclick="plusNumber('O')"></i>
        </div>
        <div class="x">
            <i class="fa-solid fa-x" id="X" onclick="plusNumber('X')"></i>
        </div>
        <span class="quiz_page_number"><h1 id="Quiz_count">1 / 10</h1></span>
    </div>
</div>

<script th:sytle="javascript">
    let counted_quiz = 1;
    let plusNumber = (value) => {
        if (value === 'O' || value === 'X') {
            counted_quiz++;
            document.getElementById('Quiz_count').innerHTML = `${counted_quiz} / 10`
        }
        if (counted_quiz === 10) {
            counted_quiz = 0;
        }
    }
</script>
</body>
</html>