<!Doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/quizMain.css">
    <script src="/js/quizMain.js" defer></script>
    <title>EchoValue</title>
</head>

<body>
<div id="퀴즈">
    <div id="퀴즈시작">
        <img src="/image/재활용퀴즈.jpg" id="startImage">
        <p></p>
        <button id="QuizStartButton" onclick="location.href = '/quiz/question'"><strong>Quiz Start</strong></button>
    </div>
</div>

</body>
</html>