<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/css/Score.css"
          th:href="@{/css/Score.css}">

    <script src="/static/js/Score.js" defer
            th:src="@{/js/Score.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

    <title>EcoValue</title>
</head>

<body>
<section>
    <div class="container">
        <div class="score_container">
            <div class="score_box">
            <span class="score_context_score"><u id="score">56</u><span
                    class="score_context_dot">&nbsp;점</span></span>
            </div>
            <div class="score_result">
                <p class="score_result_context" id="score_message">
                    회원의 퀴즈풀이 점수에 따라 나오는 텍스트가 달라질 것이다.
                </p>
            </div>
            <div class="score_wrong_quiz">틀린 문제의 번호를 나타낸다.</div>
            <div class="score_correct_quiz">맞은 문제의 번호를 나타낸다</div>
            <div class="incorrect_note">

                <swiper-container class="mySwiper" navigation="true" pagination="true" keyboard="true" mousewheel="true"
                                  css-mode="true" id="slide_container">
                </swiper-container>

            </div>
        </div>
    </div>

    <script>
        const scoreElem = document.getElementById('score');
        const messageElem = document.getElementById('score_message');
        const score = parseInt(scoreElem.innerText);

        const numOfWrongQuiz = 5;
        const slideInsert = document.getElementById(`slide_container`);

        for (let i = 1; i <= numOfWrongQuiz; i++) {
            const slide = document.createElement('swiper-slide');
            slide.innerText = `틀린문제${i} => numOfWrongQuiz에 저장된 숫자만큼 오답노트가 출력이 된다.
틀린문제를 DB에서 받아올 때 numOfWrongQuiz로 틀린문제 갯수를 넣어주면 됨`;
            slideInsert.appendChild(slide);
        }

        let swiper = new Swiper('.mySwiper', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
                hideOnClick: true,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            keyboard: true,
            cssMode: true,
            loop: true
        });

        if (score >= 0 && score <= 50) {
            messageElem.innerText = '0 ~ 50점 : 많이 노력해야되겠다는 멘트';
        } else if (score >= 51 && score <= 70) {
            messageElem.innerText = '51 ~ 70 : 기초지식은 있다는 멘트';
        } else if (score >= 71 && score <= 100) {
            messageElem.innerText = '71 ~ 100 : 지구를 위해 주위 지인분들에게 알려줘야한다는 멘트를 날려준다.';
        }
    </script>
</section>
</body>
</html>