<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <link href="/static/assets/css/quiz/score.css" type="text/css" rel="stylesheet"
          th:href="@{/assets/css/quiz/score.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script defer src="/assets/js/quiz/score.js" th:src="@{/assets/js/quiz/score.js}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <title>score</title>
</head>

<body>
<section>
    <div class="score-wrap">
        <div class="score_container">
            <div class="score_box">
                <div class="score_context_score">
                    <span id="score">56</span>
                    <span>&nbsp;점</span>
                </div>
            </div>
            <div class="score_result">
                <p class="score_result_context" id="score_message">
                    회원의 퀴즈풀이 점수
                </p>
            </div>
            <div class="score_wrong_quiz">틀린 문제 번호 :&nbsp;</div>
            <div class="score_correct_quiz">맞은 문제 번호 :&nbsp;</div>
            <div class="incorrect_note">
                <div class="mistake-log" id="slide_container"></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>