<!DOCTYPE html>
<!--
** 작업 끝나면 여기 주석 풀기 **

↓↓↓↓↓ 주석 풀기
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{ecovalue/layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
↑↑↑↑↑ 주석 풀기

아래에 있는
<html lang="ko"> 는 삭제
-->
<html lang="ko">
<head>
    <meta charset="UTF-8"/>

    <!-- 각 페이지 타이틀 꼭 변경하기 -->
    <title>타이틀 입력</title>

    <!-- 코드 작성 끝나면 삭제 [시작] -->
    <link href="/static/assets/css/color.css" type="text/css" rel="stylesheet"/>
    <link href="/static/assets/css/font.css" type="text/css" rel="stylesheet"/>
    <link href="/static/assets/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/static/assets/css/ecovalue/layout/ecovalue-layout.css" type="text/css" rel="stylesheet"/>
    <script defer src="/static/assets/js/ecovalue/layout/ecovalue-script.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js"></script>
    <!-- 코드 작성 끝나면 삭제 [끝] -->

    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [시작] -->
    <link rel="stylesheet" type="text/css" href="">
    <script defer src=""></script>
    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [종료] -->

</head>
<body>

<!-- 코드 작성 끝나면 삭제 [시작] -->
<div class="layout-container">
    <nav class="navbar">
        <div class="navbar-top">
            <div class="navbar-wrap">

                <a class="logo-wrap" href="/">
                    <div class="logo">
                        가치
                    </div>
                </a>

                <ul class="menu-wrap">
                    <li class="menu">
                        <a class="menu-name" href="#">리사이클</a>
                        <ul class="sub-menu">
                            <li><a href="#">재활용 방법</a></li>
                            <li><a href="#">나만의 노하우</a></li>
                            <li><a href="/quiz">재활용 퀴즈</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a class="menu-name" href="#">업사이클</a>
                        <ul class="sub-menu">
                            <li><a href="/upcycleInfo">업사이클 소개</a></li>
                            <li><a href="#">업사이클 갤러리</a></li>
                            <li><a href="#">업사이클 게시물</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a class="menu-name" href="#">제로웨이스트</a>
                        <ul class="sub-menu">
                            <li><a href="#">제로웨이스트 소개</a></li>
                            <li><a href="#">챌린지 목록</a></li>
                            <li><a href="#">DIY 만들기</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a class="menu-name" href="#">상점</a>
                        <ul class="sub-menu">
                            <li><a href="#">오프라인 상점</a></li>
                            <li><a href="#">온라인 상점</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a class="menu-name" href="#">이벤트</a>
                        <ul class="sub-menu">
                            <li><a href="#">이벤트 목록</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="login-wrap">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>

            </div>
        </div>
        <div class="navbar-bottom">
            <div class="navbar-bottom-wrap">
                <div class="nav-contents" id="nav-contents-wrap">
                    <p class="contents-text">같이하는 작은 실천, 의미있는 큰 가치</p>
                    <div class="tip-wrap">
                        <p class="tip-comment">오염된 비닐은 재활용이 불가해요</p>
                        <i id="sort" class="fa-solid fa-sort">
                            <span id="sort-up" onclick="upButton()"></span>
                            <span id="sort-down" onclick="downButton()"></span>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="main-contents">
        <div class="main-contents-wrap">
            <!-- 코드 작성 끝나면 삭제 [끝] -->

            <!-- 이 아래에 실제 코드 작성 -->
            <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
            <section>
                <div>
                    텍스트
                </div>
            </section>
            <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->
            <!-- 이 위에 실제 코드 작성 -->

            <!-- 코드 작성 끝나면 삭제 [시작] -->
        </div>
    </div>

    <!-- 코드 작성 끝나면 삭제 [시작] -->
    <footer class="footer">
        <div class="footer-wrap">
            <div class="footer-logo">가치</div>
            <div class="footer-info">
                <div class="footer-first-line">
                    <span>고객센터</span><span>서울 특별시 역삼동 역삼역</span>
                </div>
                <div class="footer-second-line">
                    <span>팔자피조</span><span>팀장 : 갓대혁</span><span>팀원 : 이예림 김하영 하유미 신원균 김태경 서정원 고찬솔</span>
                </div>
                <div class="footer-manager">
                    <span><a href="/manager-home">관리자 페이지</a></span>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- 코드 작성 끝나면 삭제 [끝] -->
</body>
</html>
