<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{ecovalue/layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>파이널 프로젝트 가치</title>
    <link rel="stylesheet" href="/assets/css/ecovalue/home/ecovalue-home.css" th:href="@{/assets/css/ecovalue/home/ecovalue-home.css}">
    <script defer src="/assets/js/ecovalue/home/ecovalue-home.js" th:src="@{/assets/js/ecovalue/home/ecovalue-home.js}"></script>
</head>

<body>

<section>
</section>

</body>
</html>