<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ecovalue/layout/ecovalue-layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8"/>

    <!-- 각 페이지 타이틀 꼭 변경하기 -->
    <title>EcoValue</title>


    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [시작] -->
    <link rel="stylesheet" type="text/css" href="/assets/css/ecovalue/membership/membership.css"
    th:href="@{/assets/css/ecovalue/membership/membership.css}">
    <script defer src=""></script>
    <!-- 직접 작성해서 사용 해야 되는 css / js 공간 [종료] -->

</head>
<body>

<section>
    <div class="membership-main">
        <div class="membership">
            <form action="#" th:action th:object="${membershipDto}" method="post" class="membership-text-form">
                <div id="text-title">
                    <span>회원가입</span>
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="id-box" class="label-layout">아이디</label>
                    </div>
                    <input type="text" placeholder="아이디를 입력해주세요." id="id-box" th:field="*{loginId}"
                           th:errorclass="field-error" class="membership-input-box-layout">
                    <div class="field-error" th:errors="*{loginId}">아이디 오류</div>
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="password-box" class="label-layout">비밀번호</label>
                    </div>
                    <input type="password" placeholder="비밀번호를 입력해주세요." id="password-box" th:field="*{memberPassword}"
                           th:errorclass="field-error" class="membership-input-box-layout">
                    <div class="field-error" th:errors="*{memberPassword}">비밀번호 오류</div>
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="password-check-box" class="label-layout">비밀번호 확인</label>
                    </div>
                    <input type="password" placeholder="비밀번호를 한번 더 입력해주세요." id="password-check-box"
                           th:field="*{checkMemberPassword}" th:errorclass="field-error" class="membership-input-box-layout">
                    <div class="field-error" th:errors="*{checkMemberPassword}">비밀번호 확인 오류</div>
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="nickname-box" class="label-layout">닉네임</label>
                    </div>
                    <input type="text" placeholder="닉네임을 입력해주세요." id="nickname-box" th:field="*{nickName}"
                           th:errorclass="field-error" class="membership-input-box-layout">
                    <div class="field-error" th:errors="*{nickName}">닉네임 오류</div>
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="name-box" class="label-layout">이름</label>
                    </div>
                    <input type="text" placeholder="이름을 입력해주세요." id="name-box" th:field="*{memberName}"
                           th:errorclass="field-error" class="membership-input-box-layout">
                    <div class="field-error" th:errors="*{memberName}">이름 오류</div>
                </div>

                <div class="membership-text-form-layout">
                    <div class="input-box-title">
                        <label for="email-box" class="label-layout">이메일</label>
                    </div>
                    <input type="text" placeholder="이메일을 입력해주세요." id="email-box" th:field="*{email}"
                           th:errorclass="field-error" class="membership-input-box-layout">
                    <div class="field-error" th:errors="*{email}">이메일 오류</div>
                </div>

                <div id="membership-button-layout">
                    <button type="button" onclick=""
                            th:onclick="|location.href='@{/}'|"
                            id="membership-cancel">취소
                    </button>
                    <button type="submit" id="create-membership">가입</button>
                </div>
            </form>
        </div>


    </div>

</section>

</body>
</html>
