.temp-id-pw-container {
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 1280px;
    height: 750px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "NanumSquare", sans-serif;
}

.text {
    font-size: 30px;
    color: #27ae60;
    text-shadow: 10px 10px 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

#go-to-login {
    margin: 10px 0;
    width: 367px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #27ae60;
    color: white;
    font-family: "NanumSquare", sans-serif;
    font-size: 23px;
    cursor: pointer;
}


